@import "./css/photon.css";
@import "./css/device_select.css";
@import "./css/icons.css";
@import "./css/fontawesome-free/css/all.min.css";
@import "./css/main.css";
@import "./vendor/jquery-toast/jquery.toast.min.css";